body {
    background-image: url("assests/3.jpg");
		background-repeat:no-repeat;
		background-size:cover;
}

.navbar-trans {
		background: transparent; }
	  
a.navbar-brand, a.logo {
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff !important;
		font-size: 2rem;
		font-weight: bold;
		margin-top: 0; }
	  
a.logo:hover, a.logo:active, a.logo:focus {
		text-decoration: none; }
	
li.nav-item .btn {
		margin-top: .2rem;
		margin-left: .4rem; }
		
li.nav-item .btn-white {
		color: #46484a; }
	  
a {
	color: white;
}

.container.mycontainer{
	margin-top: 10%
	
}

.card.mycard{
	padding: 40x 0px 20px;
	background-color: transparent;
	color:white;
	max-width: 70%;
	box-shadow:2px -2px ;
	-webkit-box-shadow:2px -2px ;
	-moz-box-shadow:2px -2px ;
}

.card-body.mycard-body{
	font-size: xx-large;
	font-family: 'Times New Roman';
}

form.myform{
	max-width:350px;
	margin:auto;
}